body{
  color: White;
  background-color:BurlyWood;
  background-image:url('../images/william-shakespeare.png');  
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 

}

#insult {
  font-family: 'Pinyon Script', cursive;
  font-size:150%;
  width:700px;
  height:200px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-100px 0 0 -360px;
  text-align:center;
}
